
<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiShop</title>
    <link href="Content/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--jquery first, bootstrap later-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.js"></script>

    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/nn-style.css" rel="stylesheet">

</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0" nonce="xgyqJVto"></script>
    <div class="container">
        <header class="nn-header">
            <div class=" col-sm-3 col-md-3 nn-text-align-center">
                <img src="/Content/img/logo.png" class="img-responsive" />
            </div><!--end logo-->
            <div class="col-md-6 col-sm-6 ">
              @Html.Partial("_Search")
            </div><!--end search box-->
            <div class="nn-cart-box col-sm-3 col-md-3 ">
                <div class="nn-top-cart-wrapper ">
                    <div class="nn-top-cart-contain">
                        @*<div class="nn-block-cart">
                            <div class="nn-top-cart-title">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <a href="http://www.plazathemes.com/demo/ma_enzo/index.php/checkout/cart/">
                                    0 item<i class="caret"></i></span>
                                    <br /><span class="price"><strong>$0.00</strong></span></span>
                                </a>
                            </div>
                            <div class="nn-top-cart-content" style="overflow: hidden; display: none;">
                                <p class="empty">You have no items in your shopping cart.</p>
                                <div class="top-subtotal">Subtotal: <span class="price">$0.00</span></div>
                            </div>


                        </div>*@
                        @Html.Partial("_CartInfo")
                    </div>
                </div>
            </div><!--end cart box-->
        </header>

        @Html.Partial("_Menu")
        <div class="container row">
            
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                <div class="nn-home-banner">
                   
                </div><!--end home banner-->
                @RenderBody()
              
            </div>
        </div>
        <div class="ma-footer-static">
            <div class="container">
                <div class="footer-static">
                    <div class="row">
                        <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                            <div class="img-logo"><a href="#"><img src="http://www.plazathemes.com/demo/ma_enzo/media/wysiwyg/logo.png" alt=""></a></div>
                            <div class="footer-static-content ">
                                <h3>
                                    This is Photoshop's version  of Lorem
                                    Ipsum.
                                </h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit...</p>
                            </div>
                        </div>
                        <div class="f-col f-col-4 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                            <div class="footer-static-title">
                                <h3>OUR SERVICES</h3>
                            </div>
                            <div class="footer-static-content">
                                <ul>
                                    <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/about-magento-demo-store">About us</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Order History</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Returns</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer-service">Custom Service</a></li>
                                    <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/term/popular">Terms &amp; Condition</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-col f-col-5 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                            <div class="footer-static-title">
                                <h3>our support</h3>
                            </div>
                            <div class="footer-static-content ">
                                <ul>
                                    <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalog/seo_sitemap/category">Sitemap</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer/account/index">Your Account</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/advanced">Advanced Search</a></li>
                                    <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-col f-col-6 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                            <div class="footer-static-title">
                                <h3>MY ACCOUNT</h3>
                            </div>
                            <div class="footer-static-content">
                                <ul>
                                    <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer/account/index">My Account</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Order History</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Returns</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Specials</a></li>
                                    <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalog/seo_sitemap/category">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-col f-col-7 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                            <div class="footer-static-title">
                                <h3>information</h3>
                            </div>
                            <div class="footer-static-content">
                                <ul>
                                    <li class="first"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/about-magento-demo-store">About us</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/contacts">Delivery Information</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
                                    <li><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/customer-service">Custom Service</a></li>
                                    <li class="last"><a href="http://www.plazathemes.com/demo/ma_enzo/index.php/catalogsearch/term/popular">Terms &amp; Condition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#search").autocomplete({
                source: "/Home/Search",
                minLength: 2
            });
        })
    </script>
</body>
</html>



